@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
    color: #000;
    background-color: #F0F4FD;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.face{
    width: 350px;
    height: auto;
    background-color: #FFFFFF;
    border-radius: 20px;
    overflow: hidden;
}
.top-content{
    padding: 35px 25px 30px;
    display: flex;
    justify-content: space-between;
}
.top-icons{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.movie-zone{
    width: 86%;
    overflow: auto;
    white-space: nowrap;
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
}
.movie-type{
    width: 86%;
    overflow: auto;
    white-space: nowrap;
    display: flex;
    justify-content: flex-start;
    margin: 25px auto 0px;
}
.movie-zone h3{
    margin-right: 25px;
    color: #cfcfcf;
    font-size: 20px;
    line-height: 45px;
    font-weight: 400;
    font-family: 'Nunito', sans-serif;
    cursor: pointer;
}
.movie-type h3{
    margin-right: 10px;
    color: #000;
    border: 1px solid #c0c0c0;
    padding: 5px 16px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 30px;
    font-family: 'Nunito', sans-serif;
    cursor: pointer;
}
.movie-zone h3.active{
    color: #3C3C4B;
    border-bottom: 3px solid #f73461;
    font-weight: 800;
    font-size: 22px;
}
.movie-zone::-webkit-scrollbar,
.movie-type::-webkit-scrollbar {    display: none;}

.swiper-container {
    width: 100%;
    height: 420px;
    padding-top: 40px;
    padding-bottom: 50px;
    background: none; 
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 230px;
    height: 360px;
    margin: 0 10px;
}
.swiper-slide img{
    width: 100%;
    height: 100%;
    border-radius: 30px;
}
.swiper-slide::after {
    content:"";
    position:absolute;
    width:100%;
    bottom:1px;
    z-index:-1;
    transform:scale(.9);
    box-shadow: 0px 0px 8px 2px #000000;
}
.swiper-slide h3,
.swiper-slide p{
    text-align: center;
    font-family: 'Nunito', sans-serif;
}
.swiper-slide h3{
    font-size: 17px;
    margin-bottom: 4px;
    margin-top: 10px;
}
.swiper-slide p{
    margin: 0;
    font-size: 12px;
    font-weight: 800;
}
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right {
    border-radius: 30px;
    background: rgba(255,255,255,0.4);
}
.fa-star{
    color: #FF9529;
}